dugain_lead_workflow.json
{
  "name": "Dugain Advisors Lead Qualification Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-id",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "notesInFlow": true,
      "notes": "Start the lead generation workflow manually for live demonstrations."
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%28%22funding%22+OR+%22raised%22+OR+%22investment%22+OR+%22capital+round%22+OR+%22Series+A%22+OR+%22Series+B%22+OR+%22pre-seed%22+OR+%22seed+round%22%29+AND+%28startup+OR+founder%29+AND+%28India+OR+Bangalore+OR+Bengaluru+OR+Mumbai+OR+Gurgaon+OR+Noida%29&hl=en-IN&gl=IN&ceid=IN:en",
        "responseFormat": "text",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-rss-funding-id",
      "name": "Get RSS Funding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        100
      ],
      "onError": "continueRegularOutput",
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "notesInFlow": true,
      "notes": "Fetches raw XML funding signals for startups in India."
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%28%22expansion%22+OR+%22new+office%22+OR+%22opens+office%22+OR+%22hiring+in+India%22+OR+%22subsidiary%22+OR+%22establishing+entity%22%29+AND+%28startup+OR+tech+OR+%22global+company%22%29+AND+%28India+OR+Bengaluru+OR+Gurgaon+OR+Noida+OR+Hyderabad%29&hl=en-IN&gl=IN&ceid=IN:en",
        "responseFormat": "text",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-rss-expansion-id",
      "name": "Get RSS Expansion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        250
      ],
      "onError": "continueRegularOutput",
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "notesInFlow": true,
      "notes": "Fetches raw XML expansion and office launch signals."
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%28%22acquisition%22+OR+%22acquires%22+OR+%22merged%22+OR+%22merger%22+OR+%22buyout%22+OR+%22controlling+stake%22%29+AND+%28startup+OR+%22private+company%22%29+AND+%28India+OR+Indian%29&hl=en-IN&gl=IN&ceid=IN:en",
        "responseFormat": "text",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-rss-acquisition-id",
      "name": "Get RSS Acquisition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        400
      ],
      "onError": "continueRegularOutput",
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "notesInFlow": true,
      "notes": "Fetches raw XML M&A and corporate buyout signals."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "placeholder-sheet-id",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "range": "L:L",
        "options": {}
      },
      "id": "read-google-sheet-urls-id",
      "name": "Read Google Sheet URLs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        300,
        550
      ],
      "onError": "continueRegularOutput",
      "notesInFlow": true,
      "notes": "Retrieves only the Source URL column (Column L) to prevent duplicate runs."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "parse-funding-xml-id",
      "name": "Parse Funding XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        500,
        100
      ],
      "notesInFlow": true,
      "notes": "Explicitly parses raw Funding XML into a JSON object structure."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "parse-expansion-xml-id",
      "name": "Parse Expansion XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        500,
        250
      ],
      "notesInFlow": true,
      "notes": "Explicitly parses raw Expansion XML into a JSON object structure."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "parse-acquisition-xml-id",
      "name": "Parse Acquisition XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        500,
        400
      ],
      "notesInFlow": true,
      "notes": "Explicitly parses raw Acquisition XML into a JSON object structure."
    },
    {
      "parameters": {
        "jsCode": "// Helper to parse dates to standard YYYY-MM-DD\nfunction parseDate(pubDateStr) {\n  if (!pubDateStr) return null;\n  try {\n    const d = new Date(pubDateStr);\n    if (isNaN(d.getTime())) return null;\n    return d.toISOString().split('T')[0];\n  } catch (e) {\n    return null;\n  }\n}\n\n// Helper to safely extract the publisher name from parsed XML source tag\nfunction getPublisher(source) {\n  if (!source) return 'Google News';\n  if (typeof source === 'string') return source;\n  if (source.$) return source.$; // xml2js standard text content accessor\n  if (source._) return source._;\n  return 'Google News';\n}\n\n// Helper to extract items from parsed XML JSON structure safely\nfunction extractRssItems(xmlNodeName) {\n  try {\n    const data = $(xmlNodeName).all();\n    if (!data || data.length === 0) return [];\n    \n    const root = data[0].json;\n    if (!root || !root.rss || !root.rss.channel) {\n      console.warn(`No valid XML channel data in node ${xmlNodeName}`);\n      return [];\n    }\n    \n    const items = root.rss.channel.item;\n    if (!items) return [];\n    \n    return Array.isArray(items) ? items : [items];\n  } catch (error) {\n    console.error(`Error extracting items from ${xmlNodeName}:`, error);\n    return [];\n  }\n}\n\n// Extract items from each parsed RSS stream\nconst fundingRaw = extractRssItems('Parse Funding XML');\nconst expansionRaw = extractRssItems('Parse Expansion XML');\nconst acquisitionRaw = extractRssItems('Parse Acquisition XML');\n\nconst standardizedArticles = [];\n\n// Helper to map raw XML items to the standardized contract object\nfunction mapToContract(item, signalType) {\n  return {\n    json: {\n      title: item.title || null,\n      description: item.description || null,\n      sourceUrl: item.link,\n      articleDate: parseDate(item.pubDate),\n      buyingSignal: signalType,\n      source: getPublisher(item.source)\n    }\n  };\n}\n\n// Map and tag funding items\nfor (const item of fundingRaw) {\n  if (item.link) {\n    standardizedArticles.push(mapToContract(item, 'Funding'));\n  }\n}\n\n// Map and tag expansion items\nfor (const item of expansionRaw) {\n  if (item.link) {\n    standardizedArticles.push(mapToContract(item, 'Expansion'));\n  }\n}\n\n// Map and tag acquisition items\nfor (const item of acquisitionRaw) {\n  if (item.link) {\n    standardizedArticles.push(mapToContract(item, 'Acquisition'));\n  }\n}\n\n// Output standardized contract objects\nreturn standardizedArticles;"
      },
      "id": "merge-and-tag-feeds-id",
      "name": "Merge & Tag Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        250
      ],
      "notesInFlow": true,
      "notes": "Unifies feeds and structures items according to standard contract schema."
    },
    {
      "parameters": {
        "jsCode": "// Helper to normalize URLs (strips query parameters, anchors, lowercase, and trailing slashes)\nfunction normalizeUrl(url) {\n  if (!url || typeof url !== 'string') return '';\n  try {\n    let decoded = decodeURIComponent(url);\n    let cleanUrl = decoded.split('?')[0];\n    cleanUrl = cleanUrl.split('#')[0];\n    cleanUrl = cleanUrl.toLowerCase().trim();\n    // Remove protocol and standard www subdomains\n    cleanUrl = cleanUrl.replace(/^(https?:\\/\\/)?(www\\.)?/, '');\n    if (cleanUrl.endsWith('/')) {\n      cleanUrl = cleanUrl.slice(0, -1);\n    }\n    return cleanUrl;\n  } catch (e) {\n    let clean = url.split('?')[0].split('#')[0].toLowerCase().trim();\n    clean = clean.replace(/^(https?:\\/\\/)?(www\\.)?/, '');\n    if (clean.endsWith('/')) {\n      clean = clean.slice(0, -1);\n    }\n    return clean;\n  }\n}\n\n// 1. Fetch standardized articles from the previous step\nconst mergedArticles = $('Merge & Tag Feeds').all();\n\n// 2. Fetch existing URLs from sheet database (L:L range is output from parent node)\nlet sheetRows = [];\ntry {\n  sheetRows = $input.all();\n} catch (error) {\n  console.warn('Could not read existing URLs from Google Sheet:', error);\n}\n\n// 3. Extract and normalize existing database URLs\nconst existingUrls = new Set();\nfor (const row of sheetRows) {\n  if (row.json) {\n    // Column L header is \"Source URL\"\n    const rawUrl = row.json['Source URL'] || row.json['sourceUrl'] || row.json['url'];\n    if (rawUrl) {\n      existingUrls.add(normalizeUrl(rawUrl));\n    }\n  }\n}\n\n// 4. Perform stateful deduplication\nconst uniqueNewItems = [];\nconst seenInRun = new Set();\nlet duplicateCount = 0;\n\nfor (const item of mergedArticles) {\n  const rawUrl = item.json.sourceUrl;\n  if (!rawUrl) continue;\n  \n  const normUrl = normalizeUrl(rawUrl);\n  \n  // Filter out duplicates within the run and existing sheet records\n  if (seenInRun.has(normUrl) || existingUrls.has(normUrl)) {\n    duplicateCount++;\n    continue;\n  }\n  \n  seenInRun.add(normUrl);\n  \n  // Forward item adhering strictly to the contract\n  uniqueNewItems.push({\n    json: {\n      title: item.json.title,\n      description: item.json.description,\n      sourceUrl: item.json.sourceUrl,\n      articleDate: item.json.articleDate,\n      buyingSignal: item.json.buyingSignal,\n      source: item.json.source,\n      normalizedUrl: normUrl\n    }\n  });\n}\n\n// 5. Execution Logging to console (n8n Execution History capture)\nconsole.log('--- MODULE 1 EXECUTION METRICS ---');\nconsole.log(`Total RSS Articles Fetched: ${mergedArticles.length}`);\nconsole.log(`Duplicate Articles Removed: ${duplicateCount}`);\nconsole.log(`New Unique Articles Forwarded: ${uniqueNewItems.length}`);\nconsole.log('----------------------------------');\n\n// 6. Embed execution summary metadata on items for debugging downstream\nfor (const item of uniqueNewItems) {\n  item.json.meta = {\n    totalFetched: mergedArticles.length,\n    duplicatesRemoved: duplicateCount,\n    newForwarded: uniqueNewItems.length\n  };\n}\n\nreturn uniqueNewItems;"
      },
      "id": "url-normalizer-and-deduplicator-id",
      "name": "URL Normalizer & Deduplicator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "notesInFlow": true,
      "notes": "Handles URL cleanup, stateful cross-run deduplication and prints execution metrics to console logs."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-over-leads-id",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1100,
        300
      ],
      "notesInFlow": true,
      "notes": "Processes deduplicated leads one-by-one to avoid API rate limits."
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.sourceUrl }}",
        "responseFormat": "text",
        "options": {
          "timeout": 10000
        }
      },
      "id": "jina-web-scraper-id",
      "name": "Jina Web Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1300,
        200
      ],
      "onError": "continueRegularOutput",
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "notesInFlow": true,
      "notes": "Queries Jina Reader to convert lead article URL to clean markdown text."
    },
    {
      "parameters": {
        "jsCode": "// Helper to extract text from various possible n8n HTTP Request node output formats\nfunction extractScrapeText(input) {\n  if (!input) return null;\n  if (typeof input === 'string') return input;\n  // Check common n8n HTTP Request properties\n  const content = input.body || input.data || input.content || input.json || input.text;\n  if (content) {\n    if (typeof content === 'string') return content;\n    if (typeof content === 'object') return JSON.stringify(content);\n  }\n  // Fallback scan of first string property in case of non-standard object key\n  for (const key of Object.keys(input)) {\n    if (typeof input[key] === 'string' && input[key].trim().length > 0) {\n      if (['error', 'statusCode', 'statusMessage', 'message'].includes(key)) continue;\n      return input[key];\n    }\n  }\n  return null;\n}\n\n// Helper to resolve Google News redirects\nasync function resolveGoogleRedirect(url) {\n  try {\n    const controller = new AbortController();\n    const timeoutId = setTimeout(() => controller.abort(), 6000);\n    const response = await fetch(url, {\n      method: 'GET',\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'\n      },\n      signal: controller.signal\n    });\n    clearTimeout(timeoutId);\n    return response.url || url;\n  } catch (err) {\n    console.warn(`Failed to resolve Google redirect for ${url}:`, err);\n    return url;\n  }\n}\n\n// Helper to fetch directly from Jina Reader\nasync function scrapeWithJina(targetUrl) {\n  try {\n    const jinaUrl = `https://r.jina.ai/${targetUrl}`;\n    const controller = new AbortController();\n    const timeoutId = setTimeout(() => controller.abort(), 6000);\n    const response = await fetch(jinaUrl, {\n      method: 'GET',\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'\n      },\n      signal: controller.signal\n    });\n    clearTimeout(timeoutId);\n    if (response.ok) {\n      return await response.text();\n    }\n    return null;\n  } catch (err) {\n    console.warn(`Failed to scrape resolved URL ${targetUrl} via Jina:`, err);\n    return null;\n  }\n}\n\n// Helper to check for scraper blocks, empty content, or failures\nfunction isFailedScrape(text, result) {\n  if (result && (result.error || result.statusCode >= 400)) {\n    return true;\n  }\n  // Check if content length is under the 300 character cutoff\n  if (!text || text.trim().length < 300) {\n    return true;\n  }\n  const lowercaseContent = text.toLowerCase();\n  for (const signal of BLOCK_SIGNALS) {\n    if (lowercaseContent.includes(signal)) {\n      return true;\n    }\n  }\n  return false;\n}\n\n// Helper to clean scraped markdown text and remove boilerplate\nfunction cleanMarkdown(text) {\n  if (!text) return '';\n  return text\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .split('\\n')\n    .filter(line => {\n      const trimmed = line.toLowerCase().trim();\n      for (const pattern of BOILERPLATE_PATTERNS) {\n        if (trimmed.includes(pattern)) {\n          return false;\n        }\n      }\n      return true;\n    })\n    .join('\\n')\n    .trim();\n}\n\n// Helper to truncate text safely at paragraph, sentence, or word boundaries\nfunction truncateToLimit(text, maxChars) {\n  if (!text || text.length <= maxChars) return text;\n  let cutPos = maxChars;\n  const chunk = text.slice(0, maxChars);\n  let boundary = chunk.lastIndexOf('\\n\\n');\n  if (boundary > maxChars * 0.8) {\n    cutPos = boundary;\n  } else {\n    boundary = chunk.lastIndexOf('. ');\n    if (boundary > maxChars * 0.8) {\n      cutPos = boundary + 1;\n    } else {\n      boundary = chunk.lastIndexOf(' ');\n      if (boundary > maxChars * 0.8) {\n        cutPos = boundary;\n      }\n    }\n  }\n  return text.slice(0, cutPos).trim() + '\\n\\n[Content truncated due to size limits...]';\n}\n\n// Helper to generate dynamic processed timestamp\nfunction getTimestamp() {\n  const now = new Date();\n  const pad = (num) => String(num).padStart(2, '0');\n  return `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n}\n\n// MAIN HANDLER INITIATION\nconst scrapeInput = $input.item.json;\nconst originalArticle = $('Loop Over Leads').item.json;\n\nconst BLOCK_SIGNALS = [\n  'cloudflare', 'enable javascript', 'captcha', 'access denied',\n  '403 forbidden', 'error 1020', 'paywall', 'accept cookies',\n  'cookie wall', 'robot detection', 'just a moment'\n];\n\nconst BOILERPLATE_PATTERNS = [\n  'cookie settings', 'privacy policy', 'terms of use', 'all rights reserved',\n  'advertisement', 'sponsored', 'read more', 'related articles',\n  'share this article', 'newsletter', 'subscribe', 'copyright',\n  'share on facebook', 'share on twitter', 'share on linkedin',\n  'newsletter signup', 'email newsletter', 'cookie notice', 'cookie policy'\n];\n\nconst rawScrapedText = extractScrapeText(scrapeInput);\nlet contentSource = 'Jina';\nlet finalContent = '';\nlet scrapeQuality = 'High';\nlet targetUrl = originalArticle.sourceUrl;\nlet failed = isFailedScrape(rawScrapedText, scrapeInput);\n\nif (failed) {\n  console.log(`[Scrape Fail] Scrape failed for: ${originalArticle.sourceUrl}. Attempting redirect resolution...`);\n  const resolvedUrl = await resolveGoogleRedirect(originalArticle.sourceUrl);\n  if (resolvedUrl && resolvedUrl !== originalArticle.sourceUrl) {\n    console.log(`[Redirect Resolved] Final URL: ${resolvedUrl}. Retrying Jina Scrape...`);\n    const retriedText = await scrapeWithJina(resolvedUrl);\n    const cleanedRetried = cleanMarkdown(retriedText);\n    if (cleanedRetried && cleanedRetried.length >= 300) {\n      const isBlock = BLOCK_SIGNALS.some(signal => cleanedRetried.toLowerCase().includes(signal));\n      if (!isBlock) {\n        contentSource = 'Jina (Resolved)';\n        targetUrl = resolvedUrl;\n        finalContent = cleanedRetried;\n        failed = false;\n        console.log(`[Scrape Success] Jina successfully scraped resolved URL: ${resolvedUrl}`);\n      }\n    }\n  }\n} else {\n  finalContent = cleanMarkdown(rawScrapedText);\n}\n\nif (failed) {\n  contentSource = 'RSS';\n  scrapeQuality = 'Fallback';\n  finalContent = `${originalArticle.title}\\n\\n${originalArticle.description || ''}`.trim();\n  console.warn(`[Fallback Activated] All scraping options failed. Using RSS Snippet for: ${originalArticle.sourceUrl}`);\n} else {\n  finalContent = truncateToLimit(finalContent, 8000);\n  scrapeQuality = finalContent.length >= 1500 ? 'High' : 'Medium';\n}\n\nconst estimatedTokens = Math.ceil(finalContent.length / 4);\n\nconst outputContract = {\n  json: {\n    title: originalArticle.title,\n    description: originalArticle.description,\n    sourceUrl: targetUrl,\n    normalizedUrl: originalArticle.normalizedUrl,\n    articleDate: originalArticle.articleDate,\n    buyingSignal: originalArticle.buyingSignal,\n    source: originalArticle.source,\n    contentSource: contentSource,\n    articleContent: finalContent,\n    contentLength: finalContent.length,\n    estimatedTokens: estimatedTokens,\n    scrapeQuality: scrapeQuality,\n    ingestedAt: getTimestamp()\n  }\n};\n\nconsole.log('--- MODULE 2 STATUS ---');\nconsole.log(`URL: ${targetUrl}`);\nconsole.log(`Scrape Result: ${contentSource.includes('Jina') ? 'SUCCESS' : 'FAILED (RSS Fallback)'}`);\nconsole.log(`Scrape Source: ${contentSource}`);\nconsole.log(`Scrape Quality: ${scrapeQuality}`);\nconsole.log(`Final Content Length: ${finalContent.length} chars`);\nconsole.log(`Estimated Tokens: ${estimatedTokens}`);\nconsole.log('-----------------------');\n\nreturn [outputContract];"
      },
      "id": "handle-scrape-fallback-id",
      "name": "Handle Scrape Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "notesInFlow": true,
      "notes": "Validates scraped page, removes clutter, enforces 8k character limit and falls back to RSS on error."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify({\n  \"Authorization\": \"Bearer \" + ($env.GROQ_API_KEY || 'REPLACE_WITH_GROQ_API_KEY'),\n  \"Content-Type\": \"application/json\"\n}) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama-3.3-70b-versatile\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a Senior Corporate Finance, Legal, and M&A Partner at Dugain Advisors.\\nDugain Advisors is a premium Indian advisory firm offering services in:\\n1. M&A Advisory & Business Restructuring (mergers, buyouts, JV setups, exits).\\n2. Share Valuations & Financial Due Diligence (regulatory valuation certificates for tax/FDI, deal audits).\\n3. Startup Advisory (ESOP pool structuring, cap table modeling, shareholder agreement drafting).\\n4. Debt/Equity Fundraising Advisory (capital raises, debt structuring).\\n5. India Entry Services (RBI/FEMA compliance, Indian subsidiary incorporation, FDI reporting).\\n6. Virtual CFO, Corporate Tax, and Statutory compliance (withholding tax, regulatory audits).\\n\\nAnalyze the provided business news article to perform a high-quality qualification analysis of the company mentioned as a lead.\\nDo NOT summarize the article. Do NOT write outreach templates.\\n\\nYou must evaluate:\\n- What transaction or corporate transition occurred (e.g. Funding round, cross-border office expansion, acquisition)?\\n- What are the immediate legal, regulatory, tax, and compliance needs that will arise from this event under Indian laws (e.g., FEMA filings with RBI, income tax valuation under Section 56(2)(viib), ESOP restructuring, board minutes)?\\n- Which specific Dugain service is relevant and why?\\n- Is this company a high-quality client to contact? What is your confidence (1 to 10)?\\n- What are the risk factors (e.g., small transaction size, highly regulated sector, foreign ownership complexities)?\\n\\nYou must return your analysis in raw JSON format matching this schema exactly:\\n{\\n  \\\"companyName\\\": \\\"Name of the target company or null\\\",\\n  \\\"founders\\\": [\\\"Founder Name(s)\\\"] or null,\\n  \\\"businessEvent\\\": \\\"Core transaction/event details (e.g. raised $5M Series A) or null\\\",\\n  \\\"companyStage\\\": \\\"Seed, Series A, Subsidiary, etc. or null\\\",\\n  \\\"recommendedServices\\\": [\\\"List of relevant Dugain services (e.g. FEMA Compliance, Share Valuation)\\\"] or null,\\n  \\\"confidence\\\": 1-10 (integer representing confidence score) or null,\\n  \\\"leadQuality\\\": \\\"High / Medium / Low\\\",\\n  \\\"qualificationReason\\\": \\\"Detailed legal/compliance/financial justification why they need Dugain's services\\\",\\n  \\\"riskFactors\\\": [\\\"Specific risks identified (e.g. RBI scrutiny, tiny round size)\\\"] or null,\\n  \\\"nextAdvisoryOpportunity\\\": \\\"Specific next milestone (e.g. RBI FC-GPRS Filing, Tax Valuation Certificate)\\\",\\n  \\\"articleDate\\\": \\\"YYYY-MM-DD or null\\\",\\n  \\\"sourceUrl\\\": \\\"String url\\\"\\n}\\nEnsure you do not invent data. If a field (like founders) is not mentioned, return null. Keep values factual and derived from the text. Do not output markdown code blocks or explanations.\"\n    },\n    {\n      role: \"user\",\n      content: \"Article Title: \" + $json.title + \"\\nSource: \" + $json.source + \"\\nBuying Signal: \" + $json.buyingSignal + \"\\nDate: \" + $json.articleDate + \"\\nURL: \" + $json.sourceUrl + \"\\n\\nContent:\\n\" + $json.articleContent\n    }\n  ],\n  temperature: 0.2,\n  response_format: {\n    type: \"json_object\"\n  }\n}) }}"
      },
      "id": "groq-advisory-analyst-id",
      "name": "Groq Advisory Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1700,
        200
      ],
      "onError": "continueRegularOutput",
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      "notesInFlow": true,
      "notes": "Queries Groq (Llama 3.3 70B) in JSON mode to perform senior-partner advisory lead qualification."
    },
    {
      "parameters": {
        "jsCode": "const groqResult = $input.item.json;\nconst originalLead = $('Handle Scrape Fallback').item.json;\n\nfunction getTimestamp() {\n  const now = new Date();\n  const pad = (num) => String(num).padStart(2, '0');\n  return `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n}\n\n// Robust normalization helpers\nfunction normalizeString(val) {\n  if (val === null || val === undefined) return null;\n  if (Array.isArray(val)) return val.map(s => String(s).trim()).filter(s => s !== '').join(', ');\n  const s = String(val).trim();\n  return s === '' || s.toLowerCase() === 'null' ? null : s;\n}\n\nfunction normalizeArray(val) {\n  if (val === null || val === undefined) return null;\n  if (Array.isArray(val)) {\n    const clean = val.map(s => String(s).trim()).filter(s => s !== '' && s.toLowerCase() !== 'null');\n    return clean.length > 0 ? clean.join(', ') : null;\n  }\n  return normalizeString(val);\n}\n\nfunction normalizeNumber(val, defaultVal = 5) {\n  if (val === null || val === undefined) return defaultVal;\n  const num = parseInt(val, 10);\n  return isNaN(num) ? defaultVal : num;\n}\n\nlet aiContent = {};\nlet parseSuccess = true;\n\ntry {\n  let rawContent = '';\n  if (groqResult.choices && groqResult.choices[0] && groqResult.choices[0].message) {\n    rawContent = groqResult.choices[0].message.content || '';\n  } else if (typeof groqResult === 'string') {\n    rawContent = groqResult;\n  } else {\n    rawContent = JSON.stringify(groqResult);\n  }\n  \n  // Extract JSON block using regex\n  const jsonMatch = rawContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    rawContent = jsonMatch[0];\n  }\n  \n  aiContent = JSON.parse(rawContent);\n} catch (e) {\n  console.error(\"Failed to parse Groq AI response:\", e);\n  parseSuccess = false;\n  \n  // Safe defaults\n  aiContent = {\n    companyName: originalLead.title ? originalLead.title.split(' ')[0] : 'Unknown',\n    founders: null,\n    businessEvent: 'AI Parsing Error: raw output could not be read as JSON.',\n    companyStage: 'Unknown',\n    recommendedServices: [],\n    confidence: 5,\n    leadQuality: 'Medium',\n    qualificationReason: `Failed to parse LLM response. Original description: ${originalLead.description || 'N/A'}. Check execution logs.`,\n    riskFactors: [],\n    nextAdvisoryOpportunity: 'Manual review required'\n  };\n}\n\n// Apply normalization to guarantee database contracts\nconst companyName = normalizeString(aiContent.companyName) || normalizeString(originalLead.title ? originalLead.title.split(' ')[0] : null) || 'Unknown';\nconst founders = normalizeArray(aiContent.founders);\nconst businessEvent = normalizeString(aiContent.businessEvent) || normalizeString(originalLead.description) || 'Unknown Event';\nconst companyStage = normalizeString(aiContent.companyStage);\nconst recommendedServices = normalizeArray(aiContent.recommendedServices) || 'General Consultation';\nconst confidence = normalizeNumber(aiContent.confidence, 5);\nconst leadQuality = normalizeString(aiContent.leadQuality) || (confidence >= 7 ? 'High' : (confidence >= 4 ? 'Medium' : 'Low'));\nconst qualificationReason = normalizeString(aiContent.qualificationReason) || 'No analysis reasons provided by AI.';\nconst riskFactors = normalizeArray(aiContent.riskFactors);\nconst nextAdvisoryOpportunity = normalizeString(aiContent.nextAdvisoryOpportunity) || 'General Consultation';\n\nconsole.log('--- MODULE 3 STATUS ---');\nconsole.log(`Groq Ingestion Status: ${parseSuccess ? 'SUCCESS' : 'FAILED (Safe Defaults Used)'}`);\nconsole.log(`Company Name: ${companyName}`);\nconsole.log(`Confidence: ${confidence}`);\nconsole.log(`Lead Quality: ${leadQuality}`);\nconsole.log('-----------------------');\n\nreturn [{\n  json: {\n    companyName: companyName,\n    founders: founders,\n    businessEvent: businessEvent,\n    companyStage: companyStage,\n    recommendedServices: recommendedServices,\n    leadQuality: leadQuality,\n    confidence: confidence,\n    qualificationReason: qualificationReason,\n    riskFactors: riskFactors,\n    nextAdvisoryOpportunity: nextAdvisoryOpportunity,\n    articleDate: originalLead.articleDate || normalizeString(aiContent.articleDate) || 'Unknown',\n    sourceUrl: originalLead.sourceUrl,\n    processedTimestamp: getTimestamp()\n  }\n}];"
      },
      "id": "parse-ai-response-id",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        200
      ],
      "notesInFlow": true,
      "notes": "Extracts JSON from Groq, handles parsing errors, and joins string arrays with commas for Sheets compatibility."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.confidence }}",
              "operation": "largerEqual",
              "value2": 7
            }
          ]
        }
      },
      "id": "check-confidence-id",
      "name": "Check Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2100,
        200
      ],
      "notesInFlow": true,
      "notes": "Separates leads based on confidence rating threshold (>= 7)."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "placeholder-sheet-id",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pairs": [
              {
                "columnName": "Company Name",
                "fieldValue": "={{ $json.companyName }}"
              },
              {
                "columnName": "Founders",
                "fieldValue": "={{ $json.founders }}"
              },
              {
                "columnName": "Business Event",
                "fieldValue": "={{ $json.businessEvent }}"
              },
              {
                "columnName": "Company Stage",
                "fieldValue": "={{ $json.companyStage }}"
              },
              {
                "columnName": "Recommended Services",
                "fieldValue": "={{ $json.recommendedServices }}"
              },
              {
                "columnName": "Lead Quality",
                "fieldValue": "={{ $json.leadQuality }}"
              },
              {
                "columnName": "Confidence",
                "fieldValue": "={{ $json.confidence }}"
              },
              {
                "columnName": "Qualification Reason",
                "fieldValue": "={{ $json.qualificationReason }}"
              },
              {
                "columnName": "Risk Factors",
                "fieldValue": "={{ $json.riskFactors }}"
              },
              {
                "columnName": "Next Advisory Opportunity",
                "fieldValue": "={{ $json.nextAdvisoryOpportunity }}"
              },
              {
                "columnName": "Article Date",
                "fieldValue": "={{ $json.articleDate }}"
              },
              {
                "columnName": "Source URL",
                "fieldValue": "={{ $json.sourceUrl }}"
              },
              {
                "columnName": "Processed Timestamp",
                "fieldValue": "={{ $json.processedTimestamp }}"
              }
            ]
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "write-high-priority-lead-id",
      "name": "Write High Priority Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2300,
        100
      ],
      "notesInFlow": true,
      "notes": "Logs verified high-confidence advisory leads using explicit column mapping."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "placeholder-sheet-id",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pairs": [
              {
                "columnName": "Company Name",
                "fieldValue": "={{ $json.companyName }}"
              },
              {
                "columnName": "Founders",
                "fieldValue": "={{ $json.founders }}"
              },
              {
                "columnName": "Business Event",
                "fieldValue": "={{ $json.businessEvent }}"
              },
              {
                "columnName": "Company Stage",
                "fieldValue": "={{ $json.companyStage }}"
              },
              {
                "columnName": "Recommended Services",
                "fieldValue": "={{ $json.recommendedServices }}"
              },
              {
                "columnName": "Lead Quality",
                "fieldValue": "={{ $json.leadQuality }}"
              },
              {
                "columnName": "Confidence",
                "fieldValue": "={{ $json.confidence }}"
              },
              {
                "columnName": "Qualification Reason",
                "fieldValue": "={{ $json.qualificationReason }}"
              },
              {
                "columnName": "Risk Factors",
                "fieldValue": "={{ $json.riskFactors }}"
              },
              {
                "columnName": "Next Advisory Opportunity",
                "fieldValue": "={{ $json.nextAdvisoryOpportunity }}"
              },
              {
                "columnName": "Article Date",
                "fieldValue": "={{ $json.articleDate }}"
              },
              {
                "columnName": "Source URL",
                "fieldValue": "={{ $json.sourceUrl }}"
              },
              {
                "columnName": "Processed Timestamp",
                "fieldValue": "={{ $json.processedTimestamp }}"
              }
            ]
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "write-low-priority-lead-id",
      "name": "Write Low Priority Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2300,
        300
      ],
      "notesInFlow": true,
      "notes": "Logs low-confidence leads for watchlist auditing using explicit column mapping."
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-5-seconds-id",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2550,
        200
      ],
      "notesInFlow": true,
      "notes": "Delay to respect API rate limits (TPM/RPM)."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get RSS Funding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get RSS Expansion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get RSS Acquisition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RSS Funding": {
      "main": [
        [
          {
            "node": "Parse Funding XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RSS Expansion": {
      "main": [
        [
          {
            "node": "Parse Expansion XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RSS Acquisition": {
      "main": [
        [
          {
            "node": "Parse Acquisition XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Funding XML": {
      "main": [
        [
          {
            "node": "Merge & Tag Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Expansion XML": {
      "main": [
        [
          {
            "node": "Merge & Tag Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Acquisition XML": {
      "main": [
        [
          {
            "node": "Merge & Tag Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Tag Feeds": {
      "main": [
        [
          {
            "node": "Read Google Sheet URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet URLs": {
      "main": [
        [
          {
            "node": "URL Normalizer & Deduplicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Normalizer & Deduplicator": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [
          {
            "node": "Jina Web Scraper",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Jina Web Scraper": {
      "main": [
        [
          {
            "node": "Handle Scrape Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Scrape Fallback": {
      "main": [
        [
          {
            "node": "Groq Advisory Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Advisory Analyst": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Check Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence": {
      "main": [
        [
          {
            "node": "Write High Priority Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Low Priority Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write High Priority Lead": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Low Priority Lead": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "dugain-lead-workflow-v1",
  "id": "dugain-lead-workflow",
  "meta": {
    "instanceId": "local-instance"
  },
  "tags": []
}